# Round2 - Pandas

In [2]:
import pandas as pd
import json

In [3]:
df = pd.read_json("loan_data.json")
print(df.to_string())

    Application_ID  Gender Married Dependents     Education Self_Employed  Credit_History Property_Area  Income Application_Status
0         LP001002    Male      No          0      Graduate            No               1         Urban  medium                  Y
1         LP001003    Male     Yes          1      Graduate            No               1         Rural  medium                  N
2         LP001005    Male     Yes          0      Graduate           Yes               1         Urban     low                  Y
3         LP001006    Male     Yes          0  Not Graduate            No               1         Urban     low                  Y
4         LP001008    Male      No          0      Graduate            No               1         Urban  medium                  Y
5         LP001011    Male     Yes          2      Graduate           Yes               1         Urban  medium                  Y
6         LP001013    Male     Yes          0  Not Graduate            No               1         Urban     low                  Y
7         LP001014    Male     Yes         3+      Graduate            No               0     Semiurban     low                  N
8         LP001018    Male     Yes          2      Graduate            No               1         Urban  medium                  Y
9         LP001020    Male     Yes          1      Graduate            No               1     Semiurban    high                  N
10        LP001024    Male     Yes          2      Graduate            No               1         Urban     low                  Y
11        LP001028    Male     Yes          2      Graduate            No               1         Urban     low                  Y
12        LP001029    Male      No          0      Graduate            No               1         Rural     low                  N
13        LP001030    Male     Yes          2      Graduate            No               1         Urban     low                  Y
14        LP001032    Male      No          0      Graduate            No               1         Urban  medium                  Y
15        LP001036  Female      No          0      Graduate            No               0         Urban     low                  N
16        LP001038    Male     Yes          0  Not Graduate            No               1         Rural  medium                  N
17        LP001043    Male     Yes          0  Not Graduate            No               0         Urban  medium                  N
18        LP001046    Male     Yes          1      Graduate            No               1         Urban  medium                  Y
19        LP001047    Male     Yes          0  Not Graduate            No               0     Semiurban     low                  N
20        LP001066    Male     Yes          0      Graduate           Yes               1     Semiurban  medium                  Y
21        LP001068    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
22        LP001073    Male     Yes          2  Not Graduate            No               1         Urban  medium                  Y
23        LP001086    Male      No          0  Not Graduate            No               1         Urban     low                  N
24        LP001095    Male      No          0      Graduate            No               1         Urban     low                  N
25        LP001097    Male      No          1      Graduate           Yes               1         Rural  medium                  N
26        LP001098    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
27        LP001100    Male      No         3+      Graduate            No               1         Rural    high                  N
28        LP001106    Male     Yes          0      Graduate            No               1         Urban     low                  Y
29        LP001109    Male     Yes          0      Graduate            No               0         Urban     low                  N
30        LP001112  Female     Yes          0      Graduate            No               1     Semiurban     low                  Y
31        LP001114    Male      No          0      Graduate            No               1         Urban  medium                  Y
32        LP001116    Male      No          0  Not Graduate            No               1     Semiurban     low                  Y
33        LP001119    Male      No          0      Graduate            No               1         Urban     low                  N
34        LP001120    Male      No          0      Graduate            No               1         Urban     low                  Y
35        LP001131    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
36        LP001136    Male     Yes          0  Not Graduate           Yes               1         Urban  medium                  Y
37        LP001137  Female      No          0      Graduate            No               1         Urban     low                  Y
38        LP001138    Male     Yes          1      Graduate            No               1         Urban  medium                  Y
39        LP001144    Male     Yes          0      Graduate            No               1         Urban  medium                  Y
40        LP001146  Female     Yes          0      Graduate            No               0         Urban     low                  N
41        LP001151  Female      No          0      Graduate            No               1     Semiurban  medium                  Y
42        LP001155  Female     Yes          0  Not Graduate            No               1     Semiurban     low                  Y
43        LP001157  Female      No          0      Graduate            No               1     Semiurban     low                  Y
44        LP001164  Female      No          0      Graduate            No               1     Semiurban  medium                  N
45        LP001179    Male     Yes          2      Graduate            No               1         Urban  medium                  N
46        LP001186  Female     Yes          1      Graduate           Yes               0         Urban    high                  N
47        LP001194    Male     Yes          2      Graduate            No               1     Semiurban     low                  Y
48        LP001195    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
49        LP001197    Male     Yes          0      Graduate            No               1         Rural     low                  N
50        LP001198    Male     Yes          1      Graduate            No               1         Urban  medium                  Y
51        LP001199    Male     Yes          2  Not Graduate            No               1         Urban     low                  Y
52        LP001205    Male     Yes          0      Graduate            No               1         Urban     low                  Y
53        LP001206    Male     Yes         3+      Graduate            No               1         Urban     low                  Y
54        LP001207    Male     Yes          0  Not Graduate           Yes               0         Rural     low                  N
55        LP001213    Male     Yes          1      Graduate            No               0         Rural  medium                  N
56        LP001222  Female      No          0      Graduate            No               0     Semiurban  medium                  N
57        LP001225    Male     Yes          0      Graduate            No               1     Semiurban  medium                  N
58        LP001228    Male      No          0  Not Graduate            No               0         Urban     low                  N
59        LP001233    Male     Yes          1      Graduate            No               1         Urban    high                  Y
60        LP001238    Male     Yes         3+  Not Graduate           Yes               1         Urban  medium                  Y
61        LP001241  Female      No          0      Graduate            No               0     Semiurban  medium                  N
62        LP001243    Male     Yes          0      Graduate            No               1         Urban     low                  Y
63        LP001245    Male     Yes          2  Not Graduate           Yes               1     Semiurban     low                  Y
64        LP001248    Male      No          0      Graduate            No               1     Semiurban     low                  Y
65        LP001250    Male     Yes         3+  Not Graduate            No               0     Semiurban  medium                  N
66        LP001253    Male     Yes         3+      Graduate           Yes               1     Semiurban  medium                  Y
67        LP001255    Male      No          0      Graduate            No               1         Urban     low                  N
68        LP001256    Male      No          0      Graduate            No               1         Urban     low                  N
69        LP001259    Male     Yes          1      Graduate           Yes               1         Urban     low                  N
70        LP001263    Male     Yes         3+      Graduate            No               0     Semiurban     low                  N
71        LP001265  Female      No          0      Graduate            No               1     Semiurban     low                  Y
72        LP001266    Male     Yes          1      Graduate           Yes               1     Semiurban     low                  Y
73        LP001267  Female     Yes          2      Graduate            No               1         Urban     low                  N
74        LP001275    Male     Yes          1      Graduate            No               1         Urban     low                  Y
75        LP001279    Male      No          0      Graduate            No               1     Semiurban     low                  Y
76        LP001282    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
77        LP001289    Male      No          0      Graduate            No               1         Urban  medium                  Y
78        LP001310    Male     Yes          0      Graduate            No               1     Semiurban  medium                  Y
79        LP001316    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
80        LP001318    Male     Yes          2      Graduate            No               1     Semiurban  medium                  Y
81        LP001319    Male     Yes          2  Not Graduate            No               1         Urban     low                  Y
82        LP001322    Male      No          0      Graduate            No               1     Semiurban  medium                  Y
83        LP001325    Male      No          0  Not Graduate            No               1     Semiurban     low                  Y
84        LP001327  Female     Yes          0      Graduate            No               1     Semiurban     low                  Y
85        LP001333    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
86        LP001334    Male     Yes          0  Not Graduate            No               1     Semiurban  medium                  Y
87        LP001343    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
88        LP001345    Male     Yes          2  Not Graduate            No               1         Urban  medium                  Y
89        LP001349    Male      No          0      Graduate            No               1     Semiurban  medium                  Y
90        LP001356    Male     Yes          0      Graduate            No               1     Semiurban  medium                  Y
91        LP001367    Male     Yes          1      Graduate            No               1         Urban     low                  Y
92        LP001369    Male     Yes          2      Graduate            No               1         Urban    high                  Y
93        LP001379    Male     Yes          2      Graduate            No               0         Urban     low                  N
94        LP001384    Male     Yes         3+  Not Graduate            No               1     Semiurban     low                  Y
95        LP001385    Male      No          0      Graduate            No               1         Urban  medium                  Y
96        LP001391    Male     Yes          0  Not Graduate            No               0         Rural     low                  N
97        LP001392  Female      No          1      Graduate           Yes               1     Semiurban  medium                  Y
98        LP001401    Male     Yes          1      Graduate            No               1         Rural    high                  Y
99        LP001404  Female     Yes          0      Graduate            No               1     Semiurban     low                  Y
100       LP001421    Male     Yes          0      Graduate            No               1         Rural  medium                  N
101       LP001422  Female      No          0      Graduate            No               1         Urban    high                  Y
102       LP001430  Female      No          0      Graduate            No               1     Semiurban  medium                  Y
103       LP001431  Female      No          0      Graduate            No               0     Semiurban     low                  Y
104       LP001432    Male     Yes          2      Graduate            No               1     Semiurban     low                  Y
105       LP001439    Male     Yes          0  Not Graduate            No               1         Rural  medium                  Y
106       LP001449    Male      No          0      Graduate            No               1         Rural     low                  Y
107       LP001451    Male     Yes          1      Graduate           Yes               0         Urban    high                  N
108       LP001473    Male      No          0      Graduate            No               1         Urban     low                  Y
109       LP001478    Male      No          0      Graduate            No               1     Semiurban     low                  Y
110       LP001482    Male     Yes          0      Graduate           Yes               1     Semiurban     low                  Y
111       LP001487    Male      No          0      Graduate            No               1     Semiurban  medium                  Y
112       LP001488    Male     Yes         3+      Graduate            No               1     Semiurban  medium                  N
113       LP001489  Female     Yes          0      Graduate            No               1         Rural  medium                  N
114       LP001491    Male     Yes          2      Graduate           Yes               1         Urban     low                  Y
115       LP001492    Male      No          0      Graduate            No               0     Semiurban    high                  N
116       LP001493    Male     Yes          2  Not Graduate            No               1         Rural  medium                  N
117       LP001497    Male     Yes          2      Graduate            No               1         Rural  medium                  N
118       LP001498    Male      No          0      Graduate            No               1         Urban  medium                  Y
119       LP001504    Male      No          0      Graduate           Yes               1     Semiurban  medium                  Y
120       LP001507    Male     Yes          0      Graduate            No               1     Semiurban     low                  Y
121       LP001508    Male     Yes          2      Graduate            No               1         Urban    high                  Y
122       LP001514  Female     Yes          0      Graduate            No               1     Semiurban     low                  Y
123       LP001516  Female     Yes          2      Graduate            No               1         Urban    high                  Y
124       LP001518    Male     Yes          1      Graduate            No               1         Urban     low                  Y
125       LP001519  Female      No          0      Graduate            No               1         Rural    high                  N
126       LP001520    Male     Yes          0      Graduate            No               1     Semiurban  medium                  Y
127       LP001528    Male      No          0      Graduate            No               0         Rural  medium                  N
128       LP001529    Male     Yes          0      Graduate           Yes               1         Rural     low                  Y
129       LP001531    Male      No          0      Graduate            No               1         Urban  medium                  N
130       LP001532    Male     Yes          2  Not Graduate            No               1         Rural     low                  N
131       LP001535    Male      No          0      Graduate            No               1         Urban     low                  Y
132       LP001536    Male     Yes         3+      Graduate            No               0     Semiurban    high                  Y
133       LP001543    Male     Yes          1      Graduate            No               1         Urban  medium                  Y
134       LP001552    Male     Yes          0      Graduate            No               1     Semiurban  medium                  Y
135       LP001560    Male     Yes          0  Not Graduate            No               1     Semiurban     low                  Y
136       LP001562    Male     Yes          0      Graduate            No               1         Urban  medium                  N
137       LP001565    Male     Yes          1      Graduate            No               0     Semiurban     low                  N
138       LP001570    Male     Yes          2      Graduate            No               1         Rural  medium                  Y
139       LP001572    Male     Yes          0      Graduate            No               1         Urban  medium                  Y
140       LP001574    Male     Yes          0      Graduate            No               1         Rural     low                  Y
141       LP001577  Female     Yes          0      Graduate            No               1         Rural  medium                  N
142       LP001578    Male     Yes          0      Graduate            No               1         Rural     low                  Y
143       LP001579    Male      No          0      Graduate            No               0     Semiurban     low                  N
144       LP001580    Male     Yes          2      Graduate            No               1     Semiurban  medium                  Y
145       LP001586    Male     Yes         3+  Not Graduate            No               1         Rural     low                  N
146       LP001594    Male     Yes          0      Graduate            No               1     Semiurban  medium                  Y
147       LP001603    Male     Yes          0  Not Graduate           Yes               1     Semiurban  medium                  N
148       LP001606    Male     Yes          0      Graduate            No               1         Rural     low                  Y
149       LP001608    Male     Yes          2      Graduate            No               1         Rural     low                  Y
150       LP001610    Male     Yes         3+      Graduate            No               0     Semiurban  medium                  N

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 511 entries, 0 to 510
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Application_ID      511 non-null    object
 1   Gender              511 non-null    object
 2   Married             511 non-null    object
 3   Dependents          511 non-null    object
 4   Education           511 non-null    object
 5   Self_Employed       511 non-null    object
 6   Credit_History      511 non-null    int64
 7   Property_Area       511 non-null    object
 8   Income              511 non-null    object
 9   Application_Status  511 non-null    object
dtypes: int64(1), object(9)
memory usage: 40.0+ KB

## % of total applicants for each unique value of dependents

In [5]:
df1 = df.groupby(by='Dependents').size()
df1 = pd.DataFrame(df1, columns = ['Sum'])
df1['percent'] = (df1['Sum']/
                  df1['Sum'].sum()) * 100
df1

            Sum    percent
Dependents
0           294  57.534247
1            85  16.634051
2            88  17.221135
3+           44   8.610568

## average number of dependents per applicant

In [6]:
df3 = df.groupby(by=['Dependents']).count()
df3

,Application_ID,Gender,Married,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
Dependents,,,,,,,,,
0,294,294,294,294,294,294,294,294,294
1,85,85,85,85,85,85,85,85,85
2,88,88,88,88,88,88,88,88,88
3+,44,44,44,44,44,44,44,44,44

In [7]:
df3["Total"] = (0,1,2,3)*df3["Application_ID"]
print(df3['Total'].sum()/
     df3['Application_ID'].sum())
df3

0.7690802348336595

,Application_ID,Gender,Married,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status,Total
Dependents,,,,,,,,,,
0,294,294,294,294,294,294,294,294,294,0
1,85,85,85,85,85,85,85,85,85,85
2,88,88,88,88,88,88,88,88,88,176
3+,44,44,44,44,44,44,44,44,44,132

## % of applications approved for self-employed applicants

In [8]:
df.groupby(['Self_Employed','Application_Status']).count()

                                  Application_ID  Gender  Married  Dependents  \
Self_Employed Application_Status
No            N                              140     140      140         140
              Y                              301     301      301         301
Yes           N                               24      24       24          24
              Y                               46      46       46          46

                                  Education  Credit_History  Property_Area  \
Self_Employed Application_Status
No            N                         140             140            140
              Y                         301             301            301
Yes           N                          24              24             24
              Y                          46              46             46

                                  Income
Self_Employed Application_Status
No            N                      140
              Y                      301
Yes           N                       24
              Y                       46

In [9]:
print(46/511*100)

9.001956947162427

## % of rejections for married male applicants

In [10]:
df.groupby(['Married','Gender','Application_Status']).count()

                                   Application_ID  Dependents  Education  \
Married Gender Application_Status
No      Female N                               26          26         26
               Y                               40          40         40
        Male   N                               43          43         43
               Y                               71          71         71
Yes     Female N                                8           8          8
               Y                               17          17         17
        Male   N                               87          87         87
               Y                              219         219        219

                                   Self_Employed  Credit_History  \
Married Gender Application_Status
No      Female N                              26              26
               Y                              40              40
        Male   N                              43              43
               Y                              71              71
Yes     Female N                               8               8
               Y                              17              17
        Male   N                              87              87
               Y                             219             219

                                   Property_Area  Income
Married Gender Application_Status
No      Female N                              26      26
               Y                              40      40
        Male   N                              43      43
               Y                              71      71
Yes     Female N                               8       8
               Y                              17      17
        Male   N                              87      87
               Y                             219     219

In [11]:
print(87/511*100)

17.025440313111545

## Which property area has the maximum approval ratio

In [12]:
df.groupby(['Property_Area','Application_Status']).count()

                                  Application_ID  Gender  Married  Dependents  \
Property_Area Application_Status
Rural         N                               59      59       59          59
              Y                               90      90       90          90
Semiurban     N                               44      44       44          44
              Y                              153     153      153         153
Urban         N                               61      61       61          61
              Y                              104     104      104         104

                                  Education  Self_Employed  Credit_History  \
Property_Area Application_Status
Rural         N                          59             59              59
              Y                          90             90              90
Semiurban     N                          44             44              44
              Y                         153            153             153
Urban         N                          61             61              61
              Y                         104            104             104

                                  Income
Property_Area Application_Status
Rural         N                       59
              Y                       90
Semiurban     N                       44
              Y                      153
Urban         N                       61
              Y                      104

In [13]:
print('SemiUrban property has highest approval rate i.e.') 
print(153/511*100)

SemiUrban property has highest approval rate i.e.
29.9412915851272

## average dependents per income group

In [14]:
df2 = df.groupby(by=['Income','Dependents']).size()
df2
#df2.mean()
df2.groupby(by='Income').agg(Avg = 'mean')

          Avg
Income
high    11.25
low     68.25
medium  48.25

In [15]:
df.groupby(['Income']).count()

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Application_Status
Income,,,,,,,,,
high,45,45,45,45,45,45,45,45,45
low,273,273,273,273,273,273,273,273,273
medium,193,193,193,193,193,193,193,193,193

## predictive model to assess whether a loan application will be approved or rejected and provide the accuracy score

In [16]:
from sklearn import model_selection
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder

In [17]:
# Converting data into binary values
column=['Gender','Married','Dependents','Education','Self_Employed','Credit_History','Property_Area','Income','Application_Status']
all= LabelEncoder()
for i in column:
    df[i] = all.fit_transform(df[i])
    
df

,Application_ID,Gender,Married,Dependents,Education,Self_Employed,Credit_History,Property_Area,Income,Application_Status
0,LP001002,1,0,0,0,0,1,2,2,1
1,LP001003,1,1,1,0,0,1,0,2,0
2,LP001005,1,1,0,0,1,1,2,1,1
3,LP001006,1,1,0,1,0,1,2,1,1
4,LP001008,1,0,0,0,0,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...
506,LP002978,0,0,0,0,0,1,0,1,1
507,LP002979,1,1,3,0,0,1,0,2,1
508,LP002983,1,1,1,0,0,1,2,2,1
509,LP002984,1,1,2,0,0,1,2,2,1
510,LP002990,0,0,0,0,1,0,1,2,0

In [18]:
# Converting Data in Train and Test Set
x=df[['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed','Credit_History','Property_Area', 'Income']]
y=df.Application_Status
x_train, x_test, y_train, y_test = model_selection.train_test_split(x,y, test_size=0.2, random_state=7)

In [19]:
#Logistic Regression
model = LogisticRegression()
model.fit(x_train,y_train)
predictions = model.predict(x_test)
print(accuracy_score(y_test, predictions)*100)

88.3495145631068

In [20]:
#Using Logistic Regression Algorithm to the Training Set
from sklearn.linear_model import LogisticRegression
classifier1 = LogisticRegression(random_state = 0)
classifier1.fit(x_train, y_train)
#GaussianNB method
from sklearn.naive_bayes import GaussianNB
classifier2 = GaussianNB()
classifier2.fit(x_train, y_train)
#DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier
classifier3 = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier3.fit(x_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=0)

In [21]:
Y_pred1 = classifier1.predict(x_test)
Y_pred2 = classifier2.predict(x_test)
Y_pred3 = classifier3.predict(x_test)

In [22]:
print(accuracy_score(y_test, Y_pred1))
print(accuracy_score(y_test, Y_pred2))
print(accuracy_score(y_test, Y_pred3))

0.883495145631068
0.883495145631068
0.8446601941747572